/* Style kustom untuk tombol refresh */
.btn-custom-black {
  background-color: #1E2020 !important;
  color: #FFFFFF !important;
  border-color: #555555 !important;
  font-weight: bold;
}

.btn-custom-black:hover {
  background-color: #333333 !important;
  border-color: #777777 !important;
}

/* Style untuk input yang tidak valid (menjadi merah) - VERSI FINAL */
.validatable-input.input-error .form-control {
  border-color: #e94560 !important;
  background-color: #fff0f0 !important;
  box-shadow: 0 0 5px rgba(233, 69, 96, 0.5) !important;
}